.address-bar-container {
  height: 5rem;
  width: 100%;
  padding: 2rem 1rem;
  font-size: 0.6rem;
}

.address-bar-container span {
  margin-right: 0.5rem;
}

.current-page {
  color: black;
}

.prev-page {
  color: gray;
}
