.foodslist-container {
  width: 100%;
  /* padding: 0.5rem; */
  border-radius: 0.8rem;
  border: 1px solid rgb(235, 235, 235);
  overflow: hidden;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .foodslist-container {
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .foodslist-container {
    width: 50%;
    margin: 0 1rem;
  }
}
