.section-container {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.food-detail-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.food-image-container {
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.food-image-container img {
  width: 100%;
  height: 100%;
}

.food-description-container {
  padding-left: 0.5rem;
  max-height: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-name {
  font-size: 0.9rem;
  color: rgb(58, 58, 58);
}

.food-description {
  font-size: 0.7rem;
  color: gray;
}

.types-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  transition: all ease-in 0.2s;
  /* margin: 1rem; */
}

.types-container:hover {
  background-color: rgb(250, 250, 250);
}

.types-container:hover .type-button {
  background-color: rgb(255, 0, 166);
  color: white;
}
.types-container:hover .type-button:disabled {
  background-color: rgb(235, 235, 235);
  color: rgb(158, 158, 158);
}

.type-list {
  list-style-type: none;
}

.type-title {
  font-size: 0.7rem;
}

.type-price {
  font-size: 0.8rem;
}

.type-button {
  all: unset;
  height: 2rem;
  width: 6rem;
  color: rgb(255, 0, 166);
  text-align: center;
  border-radius: 1rem;
  font-size: 0.8rem;
  box-shadow: 0 2px 5px lightgray;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.type-button:hover {
  background-color: rgb(255, 0, 166);
  color: white;
}

.type-button:disabled {
  background-color: rgb(235, 235, 235);
  color: rgb(158, 158, 158);
}

@media only screen and (min-width: 960px) {
  .section-container {
    width: 50%;
  }
}
