.foodslist-container {
  height: 100rem;
  width: 100%;
  /* background-color: yellow; */
}

@media only screen and (min-width: 600px) {
  .foodslist-container {
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .foodslist-container {
    width: 50%;
  }
}
