.cart-bar {
  width: 100%;
  padding: 1rem;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media only screen and (min-width: 960px) {
  .cart-bar {
    width: 25%;
  }
}
