.modal-container {
  height: 20rem;
  width: 80%;
  max-width: 30rem;
  padding: 1rem;
  position: fixed;
  /* opacity: 0; */
  background-color: red;
  top: 30px;
  /* bottom: 100px; */
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1rem;
  z-index: 3;
  transition: all linear 0.1s;
}

.modal-title {
  font-size: 1.3rem;
}

.modal-submit-button {
  all: unset;
  background-color: rgb(255, 0, 166);
  border-radius: 0.3rem;
  text-align: center;
  color: gray;
  font-weight: bolder;
  margin-top: 1rem;
  height: 3rem;
  width: 100%;
  cursor: pointer;
  transition: all ease 0.2s;
}

.modal-close-button {
  cursor: pointer;
}

.active {
  bottom: 0;
  top: 0;
  opacity: 1;
}

.active-btn {
  background-color: rgb(255, 0, 166);
  color: white;
}
