.modal-container {
  height: 30rem;
  width: 80%;
  max-width: 30rem;
  padding: 1rem;
  position: fixed;
  opacity: 0;
  background-color: white;
  top: 30px;
  bottom: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.8rem;
  z-index: 3;
  transition: all linear 0.1s;
}

.modal-title {
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(68, 68, 68);
  padding: 1rem 0 0.5rem 0;
}

.modal-description {
  font-size: 0.7rem;
  color: rgb(68, 68, 68);
  margin-bottom: 1rem;
}

.modal-submit-button {
  all: unset;
  background-color: rgb(255, 0, 166);
  border-radius: 0.3rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-top: 1rem;
  height: 3rem;
  width: 100%;
  cursor: pointer;
  transition: all ease 0.2s;
}

.modal-close-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  bottom: 0;
  top: 0;
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: rgb(53, 53, 53);
}

.form label {
  cursor: pointer;
  display: flex;
  height: 100%;
  /* width: 15rem; */
  padding: 1rem;
}

.form > div {
  margin: 1rem 0;
}

.form input[type="checkbox"] {
  /* all: unset; */
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 0.5rem;
  border: 1px solid lightgray;
}

.special-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-items-container {
  padding: 1rem;
  border: 1px solid lightgray;
}
