.header {
  position: relative;
  height: 4.5rem;
  width: 100%;
  box-shadow: 0 0 3px lightgray;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.search-icon {
  grid-column: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  grid-column: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-address {
  grid-column: auto/ span 3;
}

.logo {
  display: none;
}
