.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50px;
  max-width: 20rem;
  z-index: 3;
}

.form input {
  height: 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.form input[type="text"] {
  z-index: 1;
  padding: 1rem;
  background-color: #ebedf0;
  font-family: "IranSans";
}

.form input:focus {
  outline: none;
  border: 1px solid black;
}

.form input[type="submit"] {
  position: absolute;
  width: 100%;
  font-family: "IranSans";
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
}

.layer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: 2;
}
