.about-container {
  width: 100%;
  height: 28rem;
  padding: 0.5rem;
}

.about-header {
  display: flex;
  flex-direction: row;
}

.about-image-container {
  width: 5rem;
  height: 5rem;
  margin: 0 0 0 1rem;
  flex-shrink: 0;
}

.about-image {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgb(250, 250, 250), 0 0 0 4px white, 0 0 10px lightgray;
}

.rate-and-name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.3rem;
  overflow: hidden;
}

.about-rate-container {
  display: flex;
  align-items: center;
}

.about-rate-container svg,
.about-rate-container span,
.about-rate-container p {
  margin: 0 0 0 0.2rem;
  font-size: 0.7rem;
}

.about-rate-container p {
  color: rgb(180, 180, 180);
}

.about-rate-container svg {
  position: relative;
  top: -1px;
}

.about-title {
  color: rgb(43, 43, 43);
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.oponion-button {
  all: unset;
  width: 100%;
  height: 2.5rem;
  border-radius: 3rem;
  background-color: white;
  box-shadow: 0 2px 5px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #45cb8c;
  font-size: 0.8rem;
  margin: 2rem 0 1rem 0;
  cursor: pointer;
  transition: all ease-in 0.1533s;
}

.oponion-button:active {
  background-color: rgba(0, 133, 66, 0.1);
}

.oponion-button-icon {
  margin: 0 0.5rem;
}

.food-groups-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 0.8rem;
  color: gray;
}

.food-groups-list li {
  margin: 0.2rem 0;
  padding: 0.2rem;
}

.food-groups-list a {
  text-decoration: none;
  display: block;
  height: 100%;
  color: inherit;
}

.item-active {
  font-weight: bold;
  color: rgb(63, 63, 63);
  padding-right: 0.6rem !important;
  border-right: 2px solid rgb(49, 49, 49);
}

@media only screen and (min-width: 600px) {
  .about-container {
    width: 50%;
    position: -webkit-sticky;
    position: sticky;
    top: 5.5rem;
  }
}

@media only screen and (min-width: 960px) {
  .about-container {
    width: 25%;
  }
  .food-groups-navigation {
    text-align: left;
  }

  .item-active {
    color: rgb(34, 34, 34);
    padding-left: 0.6rem !important;
    border-left: 2px solid black;
    border-right: none;
  }
}
