* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "IranSans";
  src: url("../FontsFree-Net-ir_sans.ttf");
}
body {
  background-color: #f9fafb;
  font-family: "IranSans";
}

body {
  overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #383838;
}
/* 
.container {
  max-width: 85rem;
  margin: auto;
  padding: 4.25rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 960px) {
  .container {
    flex-direction: row;
  }
} */
