.main-content {
  width: 100%;
  max-width: 85rem;
  height: auto;
  margin: auto;
  padding: 4.25rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: red; */
}

@media screen and (min-width: 600px) {
  .main-content {
  }
}

@media only screen and (min-width: 768px) {
  .main-content {
    /* flex-direction: row; */
  }
}

@media only screen and (min-width: 960px) {
  .main-content {
    /* width: 75%; */
  }
}
